# Dependencias
node_modules/
.pnp/
.pnp.js

# Builds / Dist
dist/
build/
.next/
out/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Entornos / claves
.env
.env.*
!.env.example

# Bases de datos locales
data/restaurant.db

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Caché
.cache/
.tmp/
*.tsbuildinfo
